---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

{% include base_path %}
<!--
<h3>Research Interests</h3>
<p style="text-align: justify;">I am interested in how technology and digital platforms shape behavioural, societal, and economic outcomes. I’m particularly fascinated by the way these platforms mediate interactions, influence incentives, and guide both individual and collective decisions. As technology becomes increasingly embedded in what we read, where we go, and whom we trust, understanding these systems is no longer optional—it’s essential.</p>

<p style="text-align: justify;">My current research focuses on platform governance, reputation mechanisms, and user reviews—tools that claim to promote trust and transparency, but often conceal deeper social dynamics and structural inequities. These systems are far from neutral, and I strongly believe data-driven research can help surface these hidden patterns and inform better, more inclusive design.</p>

<p style="text-align: justify;">Though this is just the initial steps, I would like to start by understanding "what", then ask "why" these patterns emerge and "how" we can help platforms evolve responsibly in the face of shifting user behaviours.</p>
-->
<h3>Working Projects</h3>

<table><tbody>
  <tr>
     <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/images/Social Media Protest.png" alt="" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle> Effects of Social Media movements on actual change in bias among students </papertitle>
      <br>
      <I>Advisors : <a href ="https://www.isb.edu/faculty-and-research/faculty-directory/deepa-mani">Dr. Deepa Mani</a>, <a href ="https://www.isb.edu/faculty-and-research/faculty-directory/vasundhara-sharma">Dr. Vasundhara Sharma</a>, <a href ="https://askaranam.github.io/">Dr. Aditya Karanam</a></I>
      <br>
      <p>In progress</p>
      <a href="https://docs.google.com/presentation/d/1hBj3ekP0ZmXXUq5YTv88vzyok97hazMLzI4yiAoWgd4/edit?usp=sharing" target="_blank">Presentation</a>
    </td>
  </tr>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/images/Fakes_News.png" alt="" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle> Platform Design to Curb Misinformation <sup>*</sup> </papertitle>
      <br>
      <I>Advisor : <a href ="https://www.isb.edu/faculty-and-research/faculty-directory/vasundhara-sharma">Dr. Vasundhara Sharma</a></I>
      <p>In progress (Under Revision: Information Systems Research)</p>
      <br>
      <a href="https://www.isb.edu/faculty-and-research/research-directory/platform-design-to-curb-misinformation" target="_blank">Abstract</a>
    </td>
  </tr>
<tr>
  <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/images/YouTube Kids.png" alt="" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle> Hidden Ads in YouTube Kids Videos and the Impact of Platform Policy Changes <sup>*</sup> </papertitle>
      <br>
      <I>Advisors : <a href ="https://www.isb.edu/faculty-and-research/faculty-directory/sumeet-kumar">Dr. Sumeet Kumar</a>  </I>
      <br>
      <p>In progress</p>
    </td>
  </tr>
  
</tbody>
</table>  
<p><small>* Providing research assistance.</small></p>
  
<br>
  
<h3> Patents </h3>

<table><tbody>
  <tr>
    <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/images/Drilling.png" alt="" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle> Method and System for Classifying and Detecting True Well Control Events During Drilling Operations. </papertitle>
      <br>
      <b>Patent Application Number:</b> 202311057956 
      <br>
      <b>Status:</b> Published, Under Review
    </td>
  </tr>
  
</tbody></table>


<h3>Conferences</h3>

<table><tbody>
  <tr>
     <td style="padding: 0px 0px 0px 0px;vertical-align: middle;width: 20%;">
      <img src="https://gshivansh2001.github.io/images/mining.png" alt="" />
    </td>
    <td style="padding: 0px 20px 0px 20px;vertical-align: middle;width: 75%;">
      <papertitle>Automated  Analysis through Natural Language Processing of DGMS Fatality Reports on Indian Non-Coal Mines</papertitle>
      <br>
      <I>Himanshu Shekhar, <b>Shivansh Gupta</b>, Siddhartha Agarwal </I>
      <br>
      <a href="https://docs.google.com/presentation/d/1KqTU93izidDEZod8sn3z6cQ71bD99PAq/edit?slide=id.p2#slide=id.p2" target="_blank">Presentation</a>
      <!--- <a href="/files/External_mechanism_to_prevent_irreversible_damage_to_hardware_components_of_a_cellular_phone_Mobile_white_knight.pdf" target="_blank">Paper</a> --->
    </td>
  </tr>
</tbody></table>
<br>
  

<h3> Industry Projects</h3>
<p> Please refer <a href="https://gshivansh2001.github.io//talks/">Projects</a> page and <a href="https://gshivansh2001.github.io/files/Shivansh_Professional_Resume_2025.pdf">my CV</a> for details on my corporate projects and endeavors.</p>



<!-- New style rendering if publication categories are defined 
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



