---
layout: archive
title: ""
permalink: /teaching/
author_profile: true
---

<h3>Beyond Research</h3>

<p style="text-align: justify">
Outside academia, I find expression, creativity, and connection through cinema, acting, and directing. Storytelling lets me appreciate different perspectives, delve into human emotions, and explore the magic that resonates across borders and time.
</p>

<p style="text-align: justify">
I share these cinematic journeys and my own creative endeavors on my Instagram page <a href="https://www.instagram.com/the.cinema.scipted/" target="_blank"><strong>@the.cinema.scipted</strong></a>, where I celebrate the magic of cinema from my own point of view — not reviews, but a reflection of its impact on me.
</p>

<h4>Some Highlights</h4>
<img src="https://gshivansh2001.github.io/images/acting1.png" alt="Acting picture 1" style="width:100%" />
<img src="https://gshivansh2001.github.io/images/acting2.png" alt="Acting picture 2" style="width:100%" />
<img src="https://gshivansh2001.github.io/images/acting3.png" alt="Acting picture 3" style="width:100%" />
<img src="https://gshivansh2001.github.io/images/acting4.jpg" alt="Acting picture 4" style="width:100%" />


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
